---
layout: default
---
<header class="fullheight site-header">
  {% include navigation.html %}
  <div class="header-wrapper">
    <h1 class="editable">Salman Soofi</h1>
    <img src="/img/salman-soofi-home.jpg" alt="Salman Soofi" class="editable header-image">
    <p class="motto editable">seeing through closed eyes</p>
    {% include social.html %}
    <p class="disclaimer editable">Disclaimer: while painting my subconscious connects with my hands and I paint unconsciously</p>
  </div>
</header>
<main>
  {{ content }}
</main>

{% include footer.html %}
