.fullheight {
  display: flex;
  flex-direction: column;
  .to-top {
    display: none;
  }
  main {
    margin-bottom: 0;
  }
}
.home {
  background-color: $dark-bg-color;
  position: relative;
  img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 85vh;
    max-width: 100%;
  }
}
.home-hero {
  color: $accent-color;
  position: absolute;
  left: 20px;
  bottom: 20px;
  h1 {
    font-size: 55px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .motto {
    font-size: 23px;
  }
}
