.main-nav {
  background-color: $dark-bg-color;
}
.site-nav {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  a {
    color: $inverse-color;
    font-weight: lighter;
    line-height: $nav-height;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
  }

}
.site-nav-active a {
  color: $accent-color;
}
