---
title: Media coverage
---

<section class="exhibitions">
  <h2 class="editable">
    Exhibitions
  </h2>
  <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_exhibitions/" class="button"><strong>✎</strong>Manage Exhibitions</a></p>
  <ul class="media-items">
    {% assign sorted = site.exhibitions | sort: 'date' | reverse %}
    {% for media in sorted %}
      {{site.collections.exhibitions.image_folder}}
      <li class="media-item">
        {% include media-item.html name=media.name link=media.link image=media.image %}
      </li>
    {% endfor %}
  </ul>
 </section>

 <section class="media">
  <h2 class="editable">
    Media sources
  </h2>
  <ul class="media-items">
    {% assign sorted = site.media | sort: 'date' | reverse %}
    {% for media in sorted %}
      <li class="media-item">
        {% include media-item.html name=media.name link=media.link image=media.image %}
      </li>
    {% endfor %}
  </ul>
 </section>
